<head>
<meta charset=utf-8>
<title><?php echo $title ?></title>
<script src="js/modernizr-1.7.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>/css/reset.css" media="screen" title="html5doctor.com Reset Stylesheet" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>/css/css3.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>/css/general.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>/css/grid.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>/css/forms.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>/css/default.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>/css/tables.css" media="screen" />
</head>
