<!DOCTYPE HTML>
<html>
<?php include 'templates/head.html' ?>
<body>

<?php include 'templates/header.html' ?>

<form class="col col_6" action="<?php echo BASE_URL.'/oauth.php?'.getAPIQuery('/api/users','POST',getCurrentURI()) ?>" method="post">
<fieldset>	
<legend>Register</legend>
<div>
<label for="username">Username *</label>
<input type="text" maxlength="24" name="username" id="username" class="box_shadow" required />
</div>
<div>
<label for='name' >Display name *</label>
<input type='text' name='name' id='name' maxlength="32" class="box_shadow" />
</div>
<div>
<label for="password" >Password *</label>
<input type="password" name="password" id="password" class="box_shadow" required />
</div>
<div>
<label for="confirmpassword" >Confirm Password *</label>
<input type="password" name="confirmpassword" id="confirmpassword" class="box_shadow" required />
</div>
</fieldset>
<fieldset>
<legend>Optional</legend>
<div>
<label for='email' >Email</label>
<input type='text' name='email' id='email' maxlength="100" class="box_shadow" />
</div>
<div>
<label for='website' >Website</label>
<input type='text' name='website' id='website' maxlength="1024" class="box_shadow" />
</div>
<div>
<input type="submit" value="Submit &rarr;" />
</div>
</fieldset>
</form>

<div class="col col_3">
<?php
if (isset($_SESSION['returned'])) {	
	if (!printErrors($_SESSION['returned'])) { // No errors
?>
<p>Successfully registered!</p> 
<p>You may now log in with the registered username and password.</p>
<?php 
	}	
	unset($_SESSION['returned']); 
}
?>
</div>

<div class="clear" style="height:10px;"></div>
<?php include 'templates/footer.html' ?>
</body>
</html>
