<?php
if (isset($_SESSION['returned']->response[0])) {
	$comment = $_SESSION['returned']->response[0];
	unset($_SESSION['returned']);
	$closewindow = true;
}
?>
<!DOCTYPE HTML>
<html>
<?php include 'templates/head.html' ?>
<body>
<br/>
<?php if (isset($closewindow)) { ?>
<script type='text/javascript'>
opener.window.location.href = "<?php echo BASE_URL.'/id/'.$comment->post_id.'#comment-'.$comment->parent ?>";
opener.window.location.reload(true);
window.close();
</script>
<?php } ?>
<?php include 'templates/commentbox.html' ?>
</body>
</html>
